[Bb]in/
[Oo]bj/
TestResults/
.svn/
*.user
*.suo
*.cache
*.bak
*.ncp
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper*
*.resharper
*.cache
*~
*.swp
*.MDF
*.ldf
*.mdf
*.LDF
~$*
.svn*
*.obj
*.pdb
[Bb]ackup*
_UpgradeReport*
UpgradeLog*
NDependOut*
!StructureMap.dll